.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
    background: url(https://i.imgur.com/JtJVDjW.png);
animation: fadeIn 1s ease-out;
}

h1.cozy {
margin-top: -20px;
}
.discovery-count {
    margin-top: -80px;
    visibility: hidden;
}
@keyframes fadeIn {
  from { opacity: 0.1; }
  to { opacity: 1; }
}
button.restart-button {
background: url(https://i.imgur.com/U7vnBU0.png);
width: 500px;
height: 500px;
background-size: cover;
border: none !important;
z-index: 700;
cursor: pointer;
 animation: fadeIn 1s ease-out; /* Apply the animation */

}

/* Hide .hint-button on mobile devices */
@media (max-width: 768px) {
  .hint-button {
    display: none;
  }
.goal {
    top: 25px;
}

}

p.result {
    margin-top: -20px;
}